/* mobile styles via http://perishablepress.com/press/2009/08/02/the-5-minute-css-mobile-makeover/ */

@media handheld {

    html, body {
        background: #fff;
        padding: 3px;
        color: #000;
        margin: 0;
        }
}

/* iPhone-specific styles */

@media only screen and (max-device-width: 480px) {

    html {
        -webkit-text-size-adjust: none;
    }

}
