
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
    background: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #D71D3E;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #D71112;
}

a:hover {
	text-decoration: underline;
}

.border {
	border: 6px solid #E1F1F6 !important;
}

.alignleft, .image-left {
	float: left;
    clear: both;
    margin: 0.5em 1em 0.5em 0;
}

.alignright {
	float: right;
	margin-left: 25px;
}

.aligncenter {
    display: block;
	margin: 0px auto;
}

#wrapper {
	margin: 0; 
	padding: 0;
	background: #000000 url(../images/img03.gif) repeat-x; 
}

/* Header */

#header {
	width: 1000px;
	height: 120px;
	margin: 0 auto;
}

/* Logo */

#logo .slogan {
    margin-left: 3.1em;
    letter-spacing: 3px;
}

#logo .name {
/*    font-family: 'Times New Roman'; */
/*
    letter-spacing: -.07em;
    margin: 0;
    font-size: 36px;
*/
    font-family: "Georgia";
    font-size: 300%;
    margin-left: 0.2em;
}

#logo .alpha {
    font-size: 360%; font-style: italic
}

#logo {
	float: left;
	height: 100px;
	margin: 0;
	margin-left: 40px;
	padding: 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 30px;
	letter-spacing: -1px;
	text-transform: lowercase;
	text-shadow: #808080 -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 64px;
}

#logo p {
	margin: 0;
	padding: 30px 0 0 34px;
	text-shadow: #808080 -1px 1px 2px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
    margin-right: 40px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 930px;
	height: 49px;
	margin: auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 4px;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: #8A5608 -1px 1px 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
}

#menu a:hover {
	text-decoration: none;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

#page-bgtop {
}

#page-bgbtm {
	margin: 0px;
	padding: 40px 30px 0px 30px;
}

/* Content */

#content {
	float: left;
	width: 620px;
	padding: 0px 20px 0px 0px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 100%;
}

#content-core a {
    color: #D71010 !important;
    text-decoration: none !important;
    border-bottom: none !important;
}

#content-core a:hover {
    color: #D71010 !important;
    border-bottom: 1px solid #D71010 !important;
}

h2.entry-title a:hover {
    color: #D71010 ;
}

.post {
	padding-top: 20px;
}

.post .title {
	letter-spacing: -1px;
}

.post .title a {
	color: #D71D3E;
	border: none;
}

.post .meta {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry, #content-core {
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 250px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	margin: 0;
	padding: 0;
    color: white;
}

#sidebar li ul {
	margin: 0px 15px;
}

#sidebar li li, .navTreeItem {
	padding-left: 15px;
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 5px 0 15px;
	letter-spacing: -1px;
	font-size: 18px;
	color: #FFFFFF;
}

#sidebar p, {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
}

#sidebar a {
	border: none;
	color: #D71112;
}

#sidebar .portletHeader a, #sidebar .portletFooter a  {
	border: none;
	color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 0 !important;
}

#sidebar a:hover {
    text-decoration: underline;
	color: #D71112 !important; 
}

#sidebar .portletHeader a:hover, #sidebar .portletFooter a:hover {
	color: white ; 
    font-size: 24px;
    padding: 0 !important;
    margin-left: 12px;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer a:hover {
    text-decoration: underline;
}

#footer-wrapper {
    background: #aa001f url(../images/img05.gif) repeat-x;
    padding: 0;
    height: 275px;
}

#footer {
	font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    background: #AA001F;
    padding: 0 0 12em 2em;
    font-size: 75%;
    width: 900px;
    margin: 0 auto;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

/* Doormat via http://svn.plone.org/svn/collective/Products.Doormat/trunk/Products/Doormat/browser/stylesheets/doormat.css */

#footer h2 {
    margin: 0.5em 0.5em 0px 0.5em;
}

#footer h3 {
    margin: 0.5em 0px;
}

#footer dl {
    margin: 0.5em 0px;
}

#footer dl dd {
    margin-left: 0px;
}

#footer .doormatColumn {
    float: left;
}

.columns-2 .doormatColumn {
    width: 48%;
}

.columns-3 .doormatColumn {
    width: 31%;
}

.columns-4 .doormatColumn {
    width: 23%;
}

.columns-5 .doormatColumn {
/*    width: 18%; */
    width: 17%; 
    padding-top: 1em;
    line-height: 1.75em;
    font-size: 120%;
    padding-left: 5px;
}

.columns-6 .doormatColumn {
    width: 14%;
}

.columns-7 .doormatColumn {
    width: 12%;
}

#menu li a:hover, .selected a, .menu-item a:hover, .menu-item-258 {
    background: white; 
    color: #AA001F !important;
    border-radius: 2px; 
}

.menu-item-258 a {
    color: #AA001F !important;
}

pre {
/* https://twitter.com/#!/stevelosh/status/107231088111390720 */
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

    padding: 2em;
    background: #191919;
    color: #00FF00;
    border: 1px solid white;
    font-size: 110%;
}

strong {
    color: #D71D3E;
}

#content-views li, #contentActionMenus li {
    display: inline;
}

.navTree li, .portletItem li, #twitter-tools li {
    list-style-image: url(../images/img01.gif);
    display: list-item;
    line-height: normal !important;
}

.widget-title {
    margin-bottom: 0.4em !important;
}

#twitter-tools li {
    list-style-image: url(../images/img01.gif);
    margin-left: 1em;
    line-height: 1.4 !important;
    padding-bottom: 1em;
}

#archives-3 li, #categories-3 li {
    list-style-image: url(../images/img01.gif);
    margin-left: 1em;
}

#footer li {
    list-style-image: url(../images/img04.gif);
    display: list-item;
    line-height: 2em;
}

.portletWordPressBlogPortlet dd {
    list-style-image: url(../images/img01.gif);
    display: list-item;
    margin-left: 2em !important;
}

.portletWordPressBlogPortlet dt {
    font-size: 175%;
    padding: 0 !important;
    margin-left: 12px;
}

.portletWordPressBlogPortlet a {
    color: white ; 
}

.portletWordPressBlogPortlet a:hover {
    color: white ; 
}

.portletWordPressBlogPortlet .portletItem {
    margin-bottom: 3em;
    line-height: normal;
}

dd {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.portalMessage dd {
    color: black;
}

#portal-breadcrumbs { 
    margin-left: 10px;
}

.documentDescription {
    font-size: 90%;
}

.small {
    font-size: 90%;
}

.portletFooter {
    font-size: 90%;
}

.col1 {
    float: left;
    height: 15em;
    width: 40%;
}

.col2 {
    float: right;
    height: 15em;
    width: 60%;
}

.page {
    margin-top: 45px;
}

.service-images {
    margin-top: 100px;
}

/* Wordpress */

.entry-utility {
    line-height: 2em; 
    margin-bottom: 2em; 
}

#author-link {
    margin-top: 2em; 
    margin-bottom: 2em;
}

#author-description a {
    line-height: 2em; 
}

#author-description {
    margin-top: 2em; 
    margin-bottom: 2em; 
}

.entry-meta { 
    padding: 1em;
}

.entry-content {
    background: white;
    padding: 1em;
    margin-bottom: 1em;
}

.entry-content strong {
    color: black;
}

.entry-content p {
/*    color: #EAEAEA;  */
    color: black;
    font-size: 105%;
}


.entry-content ul {
    list-style-type: circle;
    color: black;
}

.entry-content li {
    word-wrap: break-word; 
}

#personaltools-contact {
    color: #AA001F;
    background: white;
    text-transform: uppercase;
    font-size: 150%;
}

#portal-personaltools {
    background: white;
}

dl.portlet {
    font-size: 100%;
}

dt {
    background: black ;
}

#twitter, #facebook {
}

#twitter {
    padding-top: 20px;
    padding-left: 1em;
}

#facebook {
    padding-right: 6em;
}

div#twitter.doormatColumn span a {
    color: #3B5998;
}

dl.portlet a {
    color: white !important; 
}

dl.portlet a:hover {
    color: white !important; 
    text-decoration: underline;
}

.portletHeader {
    border-radius: 2px;
    background: black !important; 
    color: white;
    font-size: 24px;
    padding: 0 !important;
    margin-left: 12px;
}

dl.portlet .portletHeader a {
    color: white !important;
    font-size: 24px;
    padding: 0 !important;
    margin-left: 12px;
}

dl.portlet .portletHeader a:hover {
    color: white !important;
    text-decoration: underline;
    font-size: 24px;
    padding: 0 !important;
    margin-left: 12px;
}

.portletFooter {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 2em;
}

.portletHeader {
    text-transform: none;
    font-size: 24px;
    padding: 0 !important;
    margin-left: 12px;
}

#anon-personalbar a:hover {
    text-decoration: underline; 
}

dt {
    font-weight: normal !important;
}

.portletItemDetails {
    display: none;
}

.portletItem {
    line-height: normal !important;
}

.portletItem li {
    margin-left: 1em !important;
    line-height: normal !important;
    padding: 1em !important;
}

#portal-sitemap a:hover {
    border-bottom: none !important;
}

#portal-sitemap li a:hover {
    display: list-item;
    list-style-image: url(../images/img04.gif); 
}

td {
    padding: 1em;
}

#advertisement h3 {
    padding-bottom: 1em;
}

#author-avatar {
    float: right;
	border: 6px solid #E1F1F6;
    margin: 1em;
}

/* Mobile css via
    http://perishablepress.com/press/2009/08/02/the-5-minute-css-mobile-makeover/
*/

@media only screen and (max-device-width: 480px) { 

    #portal-column-content {

        /* Via http://meyerweb.com/eric/tools/css/reset/ */

        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    #header, #sidebar, #footer {
        display: none;
    }

    #menu, #page {
        width: 100%;
    }

    #wrapper {
        background: black;
    }

}

#aktt_tweet_form, #aktt_tweet_posted_msg {
    display: none;
}

.wp-caption {
    color: black;
    font-size: 80%;
    text-align: center;
}

#sidebar ul li {
    list-style: none;
}

#sidebar li {
    list-style: none;
}

#sidebar li ul li {
    list-style-image: url(../images/img01.gif);
}

#sidebar dl dd ul li {
    list-style-image: url(../images/img01.gif);
}

#sidebar h3 {
    font-size: 24px;
    color: white;
}

#advertisement li {
    list-style: none !important;
}

table {
    background: white;
    width: 100%;
    padding: 1em;
    color: black;
}

#personaltools-contact {
    border-radius: 0px 0px 4px 4px;
    padding: 0.25em 0.5em;
}


.menu li {
    list-style: none;
}

h4 {
    color: black;
}

#disqus_thread {
    background: white;
    border-radius: 4px;
    padding: 1em;
}

#disqus_thread li {
    color: black
}

#contact-table {
    width: 21em;
}

.field {
    width: 21em;
}

.button { 
    font-size: 150%;
    width: 11em;
}

#button-wrapper {
    padding: 1em;
    margin: auto;
    width: 75%;
}

#contact-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid white;
    border-radius: 4px;
    padding: 1em;
    margin-top: 2em;
}

#credits {
    margin-top: 1em;
    font-size: 80%;
}

.submenu {
    width: 150px !important; 
}

.submenu li a {
    color: #AA001F !important; 
}

.submenu li a:hover {
    text-decoration: underline !important;
}


dt .summary a {
	display: block;
	background: white;
	border-radius: 4px;
	width: 75%;
	margin: 1em;
	padding: 1em;
	font-size: 400%;
    text-decoration: underline !important;
	border-bottom: 0px !important;
}

